
@import 'examploFile';
@import "./node_modules/bootstrap/scss/bootstrap";

.mt-boot {
  margin-top: 72px;
}

.bg-init {  
  width: 100%;
  color: white;
	background-image: url('https://source.unsplash.com/random/900x900');
	background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: blur(0.75);
}

